.mercury .planet {
  width: 3.8px;
  height: 3.8px;
  animation: 58.8s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: palegoldenrod; }

.venus .planet {
  width: 9.5px;
  height: 9.5px;
  animation: 244s linear infinite retrograde_spin;
  transform: translate(-50%, -50%);
  background-color: goldenrod; }

.earth .planet {
  width: 10px;
  height: 10px;
  animation: 1s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: lightblue; }

.mars .planet {
  width: 5.3px;
  height: 5.3px;
  animation: 1.029s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: darkred; }

.jupiter .planet {
  width: 110px;
  height: 110px;
  animation: 0.411s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: orange; }

.saturn .planet {
  width: 90px;
  height: 90px;
  animation: 0.428s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: sienna; }

.uranus .planet {
  width: 40px;
  height: 40px;
  animation: 0.748s linear infinite retrograde_spin;
  transform: translate(-50%, -50%);
  background-color: aqua; }

.neptune .planet {
  width: 40px;
  height: 40px;
  animation: 0.802s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: blue; }

.pluto .planet {
  width: 1.8px;
  height: 1.8px;
  animation: 0.267s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: grey; }

.mercury {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 39px;
  height: 39px; }
  .mercury .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 87.97s linear infinite mercury-orbit;
    top: 19.5px; }
@keyframes mercury-orbit {
  from {
    transform: rotate(0deg) translateX(19.5px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(19.5px) rotate(-360deg); } }
.venus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px; }
  .venus .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 224.7s linear infinite venus-orbit;
    top: 36px; }
@keyframes venus-orbit {
  from {
    transform: rotate(0deg) translateX(36px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(36px) rotate(-360deg); } }
.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px; }
  .earth .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 365s linear infinite earth-orbit;
    top: 50px; }
@keyframes earth-orbit {
  from {
    transform: rotate(0deg) translateX(50px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg); } }
.mars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px; }
  .mars .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 686.98s linear infinite mars-orbit;
    top: 75px; }
@keyframes mars-orbit {
  from {
    transform: rotate(0deg) translateX(75px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(75px) rotate(-360deg); } }
.jupiter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  height: 520px; }
  .jupiter .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 4332.82s linear infinite jupiter-orbit;
    top: 260px; }
@keyframes jupiter-orbit {
  from {
    transform: rotate(0deg) translateX(260px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(260px) rotate(-360deg); } }
.saturn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 950px; }
  .saturn .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 10755.7s linear infinite saturn-orbit;
    top: 475px; }
@keyframes saturn-orbit {
  from {
    transform: rotate(0deg) translateX(475px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(475px) rotate(-360deg); } }
.uranus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 1920px; }
  .uranus .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 30687.15s linear infinite uranus-orbit;
    top: 960px; }
@keyframes uranus-orbit {
  from {
    transform: rotate(0deg) translateX(960px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(960px) rotate(-360deg); } }
.neptune {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3010px;
  height: 3010px; }
  .neptune .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 60190.03s linear infinite neptune-orbit;
    top: 1505px; }
@keyframes neptune-orbit {
  from {
    transform: rotate(0deg) translateX(1505px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(1505px) rotate(-360deg); } }
.pluto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3950px;
  height: 3950px; }
  .pluto .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 90553s linear infinite pluto-orbit;
    top: 1975px; }
@keyframes pluto-orbit {
  from {
    transform: rotate(0deg) translateX(1975px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(1975px) rotate(-360deg); } }
body {
  margin: 0;
  padding: 0; }

.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden; }

.system {
  background-color: black;
  width: 7900px;
  height: 7900px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sun {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.line {
  width: 1px;
  height: 50%;
  background-color: black;
  margin: 0 auto; }

.orbit {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  height: 100%;
  width: 100%; }

.planet {
  border-radius: 50%;
  position: absolute;
  left: 50%; }

.mercury .planet {
  background-color: orange; }

.venus .planet {
  background-color: yellow; }

.earth .planet {
  background-color: lightblue; }

.mars .planet {
  background-color: red; }

.jupiter .planet {
  background-color: orange; }

.saturn .planet {
  background-color: green; }

.uranus .planet {
  background-color: teal; }

.neptune .planet {
  background-color: mediumblue; }

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes retrograde_spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(-360deg); } }

/*# sourceMappingURL=style.css.map */
