.mercury .planet {
  width: 7.6px;
  height: 7.6px;
  animation: 58.8s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: palegoldenrod; }

.venus .planet {
  width: 19px;
  height: 19px;
  animation: 244s linear infinite retrograde_spin;
  transform: translate(-50%, -50%);
  background-color: goldenrod; }

.earth .planet {
  width: 20px;
  height: 20px;
  animation: 1s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: lightblue; }

.mars .planet {
  width: 10.6px;
  height: 10.6px;
  animation: 1.029s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: darkred; }

.jupiter .planet {
  width: 220px;
  height: 220px;
  animation: 0.411s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: orange; }

.saturn .planet {
  width: 180px;
  height: 180px;
  animation: 0.428s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: sienna; }

.uranus .planet {
  width: 80px;
  height: 80px;
  animation: 0.748s linear infinite retrograde_spin;
  transform: translate(-50%, -50%);
  background-color: aqua; }

.neptune .planet {
  width: 80px;
  height: 80px;
  animation: 0.802s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: blue; }

.pluto .planet {
  width: 3.6px;
  height: 3.6px;
  animation: 0.267s linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: grey; }

.mercury {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 78px;
  height: 78px; }
  .mercury .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 87.97s linear infinite mercury-orbit;
    top: 39px; }
@keyframes mercury-orbit {
  from {
    transform: rotate(0deg) translateX(39px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(39px) rotate(-360deg); } }
    .mercury .planet_container .planet_shadow {
      width: 7.6px;
      height: 7.6px;
      box-shadow: inset -1.9px 0px 0px 0px;
      opacity: 0.5;
      animation: 87.97s linear infinite mercury-shadow; }
@keyframes mercury-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.venus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 144px;
  height: 144px; }
  .venus .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 224.7s linear infinite venus-orbit;
    top: 72px; }
@keyframes venus-orbit {
  from {
    transform: rotate(0deg) translateX(72px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(72px) rotate(-360deg); } }
    .venus .planet_container .planet_shadow {
      width: 19px;
      height: 19px;
      box-shadow: inset -4.75px 0px 0px 0px;
      opacity: 0.5;
      animation: 224.7s linear infinite venus-shadow; }
@keyframes venus-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px; }
  .earth .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 365s linear infinite earth-orbit;
    top: 100px; }
@keyframes earth-orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg); } }
    .earth .planet_container .planet_shadow {
      width: 20px;
      height: 20px;
      box-shadow: inset -5px 0px 0px 0px;
      opacity: 0.5;
      animation: 365s linear infinite earth-shadow; }
@keyframes earth-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.mars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px; }
  .mars .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 686.98s linear infinite mars-orbit;
    top: 150px; }
@keyframes mars-orbit {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg); } }
    .mars .planet_container .planet_shadow {
      width: 10.6px;
      height: 10.6px;
      box-shadow: inset -2.65px 0px 0px 0px;
      opacity: 0.5;
      animation: 686.98s linear infinite mars-shadow; }
@keyframes mars-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.jupiter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1040px;
  height: 1040px; }
  .jupiter .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 4332.82s linear infinite jupiter-orbit;
    top: 520px; }
@keyframes jupiter-orbit {
  from {
    transform: rotate(0deg) translateX(520px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(520px) rotate(-360deg); } }
    .jupiter .planet_container .planet_shadow {
      width: 220px;
      height: 220px;
      box-shadow: inset -55px 0px 0px 0px;
      opacity: 0.5;
      animation: 4332.82s linear infinite jupiter-shadow; }
@keyframes jupiter-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.saturn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1900px;
  height: 1900px; }
  .saturn .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 10755.7s linear infinite saturn-orbit;
    top: 950px; }
@keyframes saturn-orbit {
  from {
    transform: rotate(0deg) translateX(950px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(950px) rotate(-360deg); } }
    .saturn .planet_container .planet_shadow {
      width: 180px;
      height: 180px;
      box-shadow: inset -45px 0px 0px 0px;
      opacity: 0.5;
      animation: 10755.7s linear infinite saturn-shadow; }
@keyframes saturn-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.uranus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3840px;
  height: 3840px; }
  .uranus .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 30687.15s linear infinite uranus-orbit;
    top: 1920px; }
@keyframes uranus-orbit {
  from {
    transform: rotate(0deg) translateX(1920px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(1920px) rotate(-360deg); } }
    .uranus .planet_container .planet_shadow {
      width: 80px;
      height: 80px;
      box-shadow: inset -20px 0px 0px 0px;
      opacity: 0.5;
      animation: 30687.15s linear infinite uranus-shadow; }
@keyframes uranus-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.neptune {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6020px;
  height: 6020px; }
  .neptune .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 60190.03s linear infinite neptune-orbit;
    top: 3010px; }
@keyframes neptune-orbit {
  from {
    transform: rotate(0deg) translateX(3010px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(3010px) rotate(-360deg); } }
    .neptune .planet_container .planet_shadow {
      width: 80px;
      height: 80px;
      box-shadow: inset -20px 0px 0px 0px;
      opacity: 0.5;
      animation: 60190.03s linear infinite neptune-shadow; }
@keyframes neptune-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.pluto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7900px;
  height: 7900px; }
  .pluto .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 90553s linear infinite pluto-orbit;
    top: 3950px; }
@keyframes pluto-orbit {
  from {
    transform: rotate(0deg) translateX(3950px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(3950px) rotate(-360deg); } }
    .pluto .planet_container .planet_shadow {
      width: 3.6px;
      height: 3.6px;
      box-shadow: inset -0.9px 0px 0px 0px;
      opacity: 0.5;
      animation: 90553s linear infinite pluto-shadow; }
@keyframes pluto-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
body {
  margin: 0;
  padding: 0; }

.container {
  width: 100vw;
  height: 100vh;
  background-color: black; }

.system {
  background-color: black;
  width: 15800px;
  height: 15800px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sun {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(#ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  box-shadow: 0 0 12px 2px rgba(255, 70, 0, 0.4), 0 0 40px 20px rgba(255, 107, 0, 0.4), 0 0 20px 50px rgba(255, 203, 0, 0.13); }

.line {
  width: 1px;
  height: 50%;
  background-color: black;
  margin: 0 auto; }

.orbit {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  height: 100%;
  width: 100%; }

.planet, .planet_shadow {
  border-radius: 50%;
  position: absolute;
  left: 50%; }

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes retrograde_spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(-360deg); } }

/*# sourceMappingURL=style.css.map */
