.mercury .planet {
  width: 3.8px;
  height: 3.8px;
  animation: 5880ms linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: palegoldenrod; }

.venus .planet {
  width: 9.5px;
  height: 9.5px;
  animation: 24400ms linear infinite retrograde_spin;
  transform: translate(-50%, -50%);
  background-color: goldenrod; }

.earth .planet {
  width: 10px;
  height: 10px;
  animation: 100ms linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: lightblue; }

.mars .planet {
  width: 5.3px;
  height: 5.3px;
  animation: 102.9ms linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: darkred; }

.jupiter .planet {
  width: 110px;
  height: 110px;
  animation: 41.1ms linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: orange; }

.saturn .planet {
  width: 90px;
  height: 90px;
  animation: 42.8ms linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: sienna; }

.uranus .planet {
  width: 40px;
  height: 40px;
  animation: 74.8ms linear infinite retrograde_spin;
  transform: translate(-50%, -50%);
  background-color: aqua; }

.neptune .planet {
  width: 40px;
  height: 40px;
  animation: 80.2ms linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: blue; }

.pluto .planet {
  width: 1.8px;
  height: 1.8px;
  animation: 26.7ms linear infinite spin;
  transform: translate(-50%, -50%);
  background-color: grey; }

.mercury {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 39px;
  height: 39px; }
  .mercury .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 8797ms linear infinite mercury-orbit;
    top: 19.5px; }
@keyframes mercury-orbit {
  from {
    transform: rotate(0deg) translateX(19.5px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(19.5px) rotate(-360deg); } }
    .mercury .planet_container .planet_shadow {
      width: 3.8px;
      height: 3.8px;
      box-shadow: inset -0.76px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 8797ms linear infinite mercury-shadow; }
@keyframes mercury-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.venus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px; }
  .venus .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 22470ms linear infinite venus-orbit;
    top: 36px; }
@keyframes venus-orbit {
  from {
    transform: rotate(0deg) translateX(36px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(36px) rotate(-360deg); } }
    .venus .planet_container .planet_shadow {
      width: 9.5px;
      height: 9.5px;
      box-shadow: inset -1.9px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 22470ms linear infinite venus-shadow; }
@keyframes venus-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px; }
  .earth .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 36500ms linear infinite earth-orbit;
    top: 50px; }
@keyframes earth-orbit {
  from {
    transform: rotate(0deg) translateX(50px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg); } }
    .earth .planet_container .planet_shadow {
      width: 10px;
      height: 10px;
      box-shadow: inset -2px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 36500ms linear infinite earth-shadow; }
@keyframes earth-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.mars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px; }
  .mars .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 68698ms linear infinite mars-orbit;
    top: 75px; }
@keyframes mars-orbit {
  from {
    transform: rotate(0deg) translateX(75px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(75px) rotate(-360deg); } }
    .mars .planet_container .planet_shadow {
      width: 5.3px;
      height: 5.3px;
      box-shadow: inset -1.06px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 68698ms linear infinite mars-shadow; }
@keyframes mars-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.jupiter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  height: 520px; }
  .jupiter .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 433282ms linear infinite jupiter-orbit;
    top: 260px; }
@keyframes jupiter-orbit {
  from {
    transform: rotate(0deg) translateX(260px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(260px) rotate(-360deg); } }
    .jupiter .planet_container .planet_shadow {
      width: 110px;
      height: 110px;
      box-shadow: inset -22px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 433282ms linear infinite jupiter-shadow; }
@keyframes jupiter-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.saturn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 950px; }
  .saturn .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 1075570ms linear infinite saturn-orbit;
    top: 475px; }
@keyframes saturn-orbit {
  from {
    transform: rotate(0deg) translateX(475px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(475px) rotate(-360deg); } }
    .saturn .planet_container .planet_shadow {
      width: 90px;
      height: 90px;
      box-shadow: inset -18px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 1075570ms linear infinite saturn-shadow; }
@keyframes saturn-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.uranus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 1920px; }
  .uranus .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 3068715ms linear infinite uranus-orbit;
    top: 960px; }
@keyframes uranus-orbit {
  from {
    transform: rotate(0deg) translateX(960px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(960px) rotate(-360deg); } }
    .uranus .planet_container .planet_shadow {
      width: 40px;
      height: 40px;
      box-shadow: inset -8px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 3068715ms linear infinite uranus-shadow; }
@keyframes uranus-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.neptune {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3010px;
  height: 3010px; }
  .neptune .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 6019003ms linear infinite neptune-orbit;
    top: 1505px; }
@keyframes neptune-orbit {
  from {
    transform: rotate(0deg) translateX(1505px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(1505px) rotate(-360deg); } }
    .neptune .planet_container .planet_shadow {
      width: 40px;
      height: 40px;
      box-shadow: inset -8px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 6019003ms linear infinite neptune-shadow; }
@keyframes neptune-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
.pluto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3950px;
  height: 3950px; }
  .pluto .planet_container {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: 9055300ms linear infinite pluto-orbit;
    top: 1975px; }
@keyframes pluto-orbit {
  from {
    transform: rotate(0deg) translateX(1975px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(1975px) rotate(-360deg); } }
    .pluto .planet_container .planet_shadow {
      width: 1.8px;
      height: 1.8px;
      box-shadow: inset -0.36px 0px 0px 0px #777;
      opacity: 0.8;
      animation: 9055300ms linear infinite pluto-shadow; }
@keyframes pluto-shadow {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
body {
  margin: 0;
  padding: 0; }

.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative; }

.system {
  background-color: black;
  width: 7900px;
  height: 7900px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sun {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.line {
  width: 1px;
  height: 50%;
  background-color: black;
  margin: 0 auto; }

.orbit {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  height: 100%;
  width: 100%; }

.planet, .planet_shadow {
  border-radius: 50%;
  position: absolute;
  left: 50%; }

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes retrograde_spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(-360deg); } }

/*# sourceMappingURL=style.css.map */
